.post-entry, ul.terms-tags li {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 1), 0px 1px 3px rgba(0, 0, 0, 1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-entry:hover, ul.terms-tags li:hover {
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 1), 0px 3px 9px rgba(0, 0, 0, 1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

