:root {
	--border-shadow: rgb(187,187,187);
}

.dark {
	--border-shadow: rgb(0,0,0);
}

.post-entry {
	box-shadow: 0px 1px 3px var(--border-shadow), 0px 1px 3px var(--border-shadow);
	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.post-entry:hover {
	box-shadow: 0px 3px 9px var(--border-shadow), 0px 3px 9px var(--border-shadow);
	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
	transform: scale(1.01);
}

.post-entry:active {
	transform: scale(.96) !important;
}

